{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
        

        <form method="post" class="max-w-md w-full bg-white p-8 rounded shadow-lg">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                </div>
            {% endif %}

        
            <h1 class="text-3xl font-extrabold text-gray-900 text-center mb-6">Connectez-vous</h1>

            {% for flash_message in app.flashes('success') %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{ flash_message }}</span>
                </div>
            {% endfor %}
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="shadow appearance-none border rounded mb-5 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
        
            <div class="flex items-center justify-between">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
                <a href="#" class="text-sm text-indigo-600 hover:text-indigo-500">Mot de passe oublié?</a>
                
            </div>
        
            <button class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 mt-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700" type="submit">
                Connexion
            </button>
            <div class="mt-6 text-center text-sm text-gray-600">
      Vous n'avez pas de compte? 
      <a href="{{ path('app_register') }}" class="text-indigo-600 hover:text-indigo-500 font-medium">S'inscrire</a>
    </div>
        </form>
</div>


{% endblock %}
